h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    font-weight: 700;
}
p{
    font-family: 'PT Serif', serif;
    font-size: 35px;
    font-weight: 400;
    margin-top: 40px;
}
button{
    margin-top: 40px;
    padding-block: 30px;
    padding-inline: 50px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: plum;
}